.Login {
  background-color: #ffffff;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  color: #000000;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnGoogle {
  position: absolute;
  width: 300px;
  height: 50px;
  left: calc(50% - 300px/2);
  top: calc(50% - 50px/2 - 90px);

  background: #4b72fc;
  border-radius: 100px;
  border-color: #ffffff;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.btnLine {
  position: absolute;
  width: 300px;
  height: 50px;
  left: calc(50% - 300px/2);
  top: calc(50% - 50px/2 - 10px);

  background: #71E27C;
  border-radius: 100px;
  border-color: #ffffff;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.btnFB {
  position: absolute;
  width: 300px;
  height: 50px;
  left: calc(50% - 300px/2);
  top: calc(50% - 50px/2 + 70px);

  background: #5D70B0;
  border-radius: 100px;
  border-color: #ffffff;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
