.Login {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;

  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.Login-btn{
  width: 300px;
  height: 50px;
  border-radius: 100px;
  margin: 20px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.85);
}
.Google-bg {
  background: #1a73e8;
}

.Line-bg {
  background: #71E27C;
}

.FB-bg {
  background: #1877f2;
}

.login-link{
  color: #ffffff;
  text-decoration:none;
}